In [5]:
import numpy as np
import pandas as pd

In [12]:
# ASC 파일 경로
file_path = 'LLCP2023.ASC '

# 파일을 numpy 배열로 읽기
brfss_2023 = pd.read_csv(file_path, sep='\t', header=None)

# 데이터 확인
brfss_2023

                                                        0
0       01              0103012023     11002023000001 ...
1       01              0101062023     11002023000002 ...
2       01              0103082023     11002023000003 ...
3       01              0103062023     11002023000004 ...
4       01              0101062023     11002023000005 ...
...                                                   ...
433318  78              1212112023     11002023002064 ...
433319  78              1201032024     11002023002065 ...
433320  78              1212132023     11002023002066 ...
433321  78              1212082023     11002023002067 ...
433322  78              1212112023     11002023002068 ...

[433323 rows x 1 columns]

In [20]:
brfss_2023.iloc(0)

2-state

2-FMONTH(file month)
2-IMONTH(interview month)
2-IDAY(interview day)
4-IYEAR(interview year)

4-DISPCODE(final disposition)